@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@section scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.min.js"></script>
}

@using ajax2.Models;
@Model (List<string>, Customer)

<div id="customerInfo">
    @Html.Partial("~/Views/Shared/_CustomersForm.cshtml", (List<string>)Model.Item1)
</div>

<div id="customerInfo">
    @Html.Partial("~/Views/Shared/_CustomersDetails.cshtml", (Customer)Model.Item2)
</div>


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Customer</title>
    
</head>
<body>
    <h2>Welcome to the customer AJAX example</h2>
    <p>The Current time is @DateTime.Now</p>

    <div>

    </div>
</body>
</html>